<p id="notice"><%= notice %></p>

<%= form_for @repository do |f| %>
 
  <% if @repository.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@repository.errors.count, "error") %> prohibited
        this repository from being saved:
      </h2>
      <ul>
        <% @repository.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <div class="field">
		<%= f.label :user_id %><br>
		<%= f.text_field :user_id %>
	</div>
  <% end %>
 
  <p>
    <%= f.label :repository_name %><br>
    <%= f.text_field :repository_name %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>